In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

In [55]:
# 2.2.4 자기관찰

b = [1, 2, 3]
b?

In [56]:
# 2.2.5 %run 명령어

%run jupy.py

# Ctrl + C 실행 멈춤

Test

In [27]:
# %load jupy.py


print("Test")

Test

In [57]:
# 시맨틱
# 변수와 인자 전달

a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [30]:
def append_element(some_list, element):
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [58]:
# 동적 참조와 강한 타입

a = 5
type(a)

int

In [32]:
a = "foo"
type(a)

str

In [36]:
a = 5
b = 4.5
isinstance(a, int), isinstance(b, int), isinstance(a, float), isinstance(b, float), isinstance(a, (int, float))

(True, False, False, True, True)

In [59]:
# 속성과 메서드

a = "foo"
getattr(a, "split")

In [60]:
# 덕타이핑

def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # iterable 객체가 아님
        return False

In [40]:
isiterable("a string")

True

In [42]:
isiterable([1, 2, 3])

True

In [43]:
isiterable(5)

False

In [61]:
# 이항 연산자와 비교문

5 - 7, 12 + 21.5, 5<= 2

(-2, 33.5, False)

In [51]:
a = [1, 2, 3]
b = a
c = list(a)

a is b, a is c, a is not c, a == c

(True, False, True, True)

In [65]:
# 뮤터블 : 변경 가능 (리스트. 사전. 배열)
# 이뮤터블 : 변경 불가능 (문자열 튜플)

a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'  # err

In [66]:
# 2.3.2 스칼라형
# 문자열

c = """
여러 줄에 걸친 문자열은
따움표 세개로 둘러싼다.
"""

# 4줄의 텍스트

c.count("\n")

3

In [70]:
a = "this is as string"
# a[10] = 'f'   <-- err

b = a.replace("string", "longer string")
a, b

('this is as string', 'this is as longer string')

In [73]:
a = 5.6
s = str(a)
s

'5.6'

In [75]:
s = "python"
s, list(s), s[:3]

('python', ['p', 'y', 't', 'h', 'o', 'n'], 'pyt')

In [76]:
s = "12\\34"
s

'12\\34'

In [77]:
s = r"this\gas\no\special\chatavters"
s

'this\\gas\\no\\special\\chatavters'

In [79]:
# 바이트와 유니코드

bytes_val = b"this is bytes"
bytes_val

b'this is bytes'

In [82]:
decoded = bytes_val.decode("utf8") # 유니코드 타입
decoded

'this is bytes'

In [86]:
# 불리언

True and True, True and False, True or False

(True, False, True)

In [93]:
# 형변환

s = "3.14159"

fval = float(s)

type(fval), int(fval), bool(fval), bool(0)

(float, 3, True, False)

In [96]:
# None

a = None
b = 5

a is None, b is None, b is not None

(True, False, True)

In [98]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

In [99]:
type(None)

NoneType

In [120]:
# 날짜와 시간(내장모듈 사용)

from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)

dt.day, dt.minute

(29, 30)

In [121]:
dt.date()

datetime.date(2011, 10, 29)

In [122]:
dt.time()

datetime.time(20, 30, 21)

In [123]:
dt.strftime("%m/%d/%y  %H:%M")

'10/29/11  20:30'

In [124]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [125]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [126]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [127]:
dt, dt2, delta

(datetime.datetime(2011, 10, 29, 20, 30, 21),
 datetime.datetime(2011, 11, 15, 22, 30),
 datetime.timedelta(days=17, seconds=7179))

In [128]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [134]:
# 2.3.3 흐름제어

# if문

a = 5
b = 7
c = 8
d = 4

if a < b or c > d: # 왼쪽조건이 True임으로 오른쪽조건 검사X
    print("Made it")

Made it

In [132]:
4>3>2>1

True

In [136]:
# for 문

sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [137]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until = 0
for value in sequence:
    if  value == 5:
        break
    total_until += value
total_until

13

In [138]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [142]:
# while 문

x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

total, x

(504, 4)

In [146]:
# pass

x = 0

if x < 0:
    print("negative")
elif x == 0:
    pass
else:
    print("positive")

In [147]:
# range

range(10)

range(0, 10)

In [148]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
list(range(0, 20, 2)) # start, end, step

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [151]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [155]:
seq = [1, 2, 3, 4]

for i in range(len(seq)):
    val = seq[i]
i, val

(3, 4)

In [161]:
sum = 0
for i in range(10000):
    if i % 3 ==0 or i % 5 ==0:
        sum += i  # 3의 배수 또는 5의 배수를 모두 더함
sum

23331668

In [163]:
# 삼항 표현식

# value = true-expr if condition else false-expr

# if condition:
#     vlue = true-expr
# else:
#     value = false-expr

In [164]:
x = 5
"Non-negative" if x >= 0 else "Negative"

'Non-negative'